.container {
  width: 95%;
  min-height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
}



.content {
  width: 100%;
  max-width: 800px;

  h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin-bottom: 12px;
    font-weight: 500;

  }

  p {
    color: #777;
    line-height: 1.6;
  }

  .lowerP:last-child{
    margin-bottom: 25px;
  }
}



.loginBtn {
  margin-top: 12px;
}

@media (max-width: 595px) {
  .container {
    width: 90%;
    align-items: flex-end;
  }

  .content {

    p {
      font-size: 20px;
    }
  }

}

@media (min-width: 700px) {
  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}