.container {
    width: 95%;
    max-width: 550px;

    h1 {
        font-size: clamp(2rem, 4vw, 3rem);
        font-weight: 500;
    }

    .higherP:last-child {
        margin-bottom: 30px;
    }
}

@media (max-width: 1012px) {
    .container {
        height: 100vh;
        padding: 20px 0;
    }
}

.formMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
        font-size: 14px;
        font-weight: 500;
        color: #6c25ff;
    }
}

.error {
    color: #ff4d4f;
    font-size: 12px;
}

@media (max-width: 595px) {
    .container {
        width: 90%;
        align-items: flex-end;
    }
}